body {
    background: #F2F2F2;
    max-width: 900px;
    margin: 10px auto;
    padding: 30px;
    }
     
    h1{
    color: #4C4C4C;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 2px solid #BEBEBE;
    }
    p{
    font:italic;
    }
    
    .footer .ads {
        padding: 10px;
        text-align: center;
        background-color: #004242;
    }
    .footer .ads p {
        text-align: center;
        line-height: 0px;
        color: #fff;
    }
    .footer .ads a {
        color: #fff;
        text-decoration:none;
        font-weight: normal;
    }
        .logo1 {
     position: absolute;
     margin: 65px 0 0 282px;
     z-index: 100;
    }
        .menu     ul {
          list-style: none; /*убираем маркеры списка*/
          margin: 0; /*убираем отступы*/
          padding-left: 0; /*убираем отступы*/
          margin-top:25px; /*делаем отступ сверху*/
          background:#004242; /*добавляем фон всему меню*/
          height: 50px; /*задаем высоту*/
        }
        .menu a {
          text-decoration: none; /*убираем подчеркивание текста ссылок*/
          background:#004242; /*добавляем фон к пункту меню*/
          color:#fff; /*меняем цвет ссылок*/
          padding:0px 15px; /*добавляем отступ*/
          font-family: arial; /*меняем шрифт*/
          line-height:50px; /*ровняем меню по вертикали*/
          display: block; 
          border-right: 1px solid #005B5B; /*добавляем бордюр справа*/
          -moz-transition: all 0.3s 0.01s ease; /*делаем плавный переход*/
          -o-transition: all 0.3s 0.01s ease;
          -webkit-transition: all 0.3s 0.01s ease;
        }
        .menu a:hover {
          background:#005B5B;/*добавляем эффект при наведении*/
        }
        .menu li {
          float:left; /*Размещаем список горизонтально для реализации меню*/
          position:relative; /*задаем позицию для позиционирования*/
        }
             
            /*Стили для скрытого выпадающего меню*/
            .menu li > ul {
                position:absolute;
                top:25px;
                display:none;   
            }
             
            /*Делаем скрытую часть видимой*/
            .menu li:hover > ul {
                display:block; 
                width:250px;  /*Задаем ширину выпадающего меню*/      
            }
           .menu li:hover > ul > li {
                float:none; /*Убираем горизонтальное позиционирование*/
            }
    .leftfoto{
    float:left;
    margin: 4px 20px 2px 0px;
    border:0px solid #CCC;
    padding:10px;
    }
    .menu b {
          text-decoration: none; /*убираем подчеркивание текста ссылок*/
          background:#004242; /*добавляем фон к пункту меню*/
          color:#fff; /*меняем цвет ссылок*/
          padding:0px 15px; /*добавляем отступ*/
          font-family: arial; /*меняем шрифт*/
          line-height:50px; /*ровняем меню по вертикали*/
          display: block; 
          border-right: 1px solid #005B5B; /*добавляем бордюр справа*/
          -moz-transition: all 0.3s 0.01s ease; /*делаем плавный переход*/
          -o-transition: all 0.3s 0.01s ease;
          -webkit-transition: all 0.3s 0.01s ease;
        }
    .textt p {
          text-decoration: none; /*убираем подчеркивание текста ссылок*/
          background:#004242; /*добавляем фон к пункту меню*/
          color:#FBFFFF; /*меняем цвет ссылок*/
          padding:0px 15px; /*добавляем отступ*/
          font-family: arial; /*меняем шрифт*/
          line-height:50px; /*ровняем меню по вертикали*/
          display: block; 
          border-right: 1px solid #005B5B; /*добавляем бордюр справа*/
          -moz-transition: all 0.3s 0.01s ease; /*делаем плавный переход*/
          -o-transition: all 0.3s 0.01s ease;
          -webkit-transition: all 0.3s 0.01s ease;
        }
        .textt a {
        color:#FBFFFF
    }
    .textt a:active {
        color:#FBFFFF
    }
    .textt a:visited {
        color:#FBFFFF
    }